@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    --color-primary: 4 38 145; /*#042691*/
    --color-secondary: 0 213 174; /*#00D5AE*/
    font-size: 14px;

    @apply bg-gray-100;
    @apply text-black;
}

.dark > body {
    @apply bg-gray-800;
    @apply text-gray-100;
}

h1 {
    @apply mb-4 font-bold text-2xl;
}

h2 {
    @apply mb-2 font-bold text-xl;
}

h3 {
    @apply mb-2 font-bold text-lg;
}


ol {
    @apply list-decimal list-inside;
}

p {
    @apply mb-3;
}

main a {
    @apply text-primary;
}

table {
    @apply table-fixed;
    @apply border-collapse;
    @apply border border-gray-300;
    @apply mb-3;
}

table th {
    @apply border border-gray-300 p-3;
}
table td {
    @apply border border-gray-300 p-3;
}